#!/usr/bin/env -S bash
{{- if eq .chezmoi.os "darwin" -}}

echo ""
echo "==============================================================="
echo ""
echo "Copying iTerm2 preferences"
echo ""
echo "==============================================================="
echo ""

echo 

cp -f {{ joinPath .chezmoi.sourceDir "files/com.googlecode.iterm2.plist" }} ~/Library/Preferences/com.googlecode.iterm2.plist
{{ end -}}