#!/bin/bash
set -e

echo ""
echo "==============================================================="
echo ""
echo "Installing Kitty Terminal"
echo ""
echo "==============================================================="
echo ""

if command -v kitty > /dev/null 2>&1; then
  echo "Kitty already installed.. Skipping" 
else
  curl -L https://sw.kovidgoyal.net/kitty/installer.sh | sh /dev/stdin \
    launch=n
  mkdir -p ~/.local/bin
  ln -sf ~/.local/kitty.app/bin/kitty ~/.local/kitty.app/bin/kitten ~/.local/bin/
fi

echo ""
echo "==============================================================="
echo ""
echo "Installing StarShip"
echo ""
echo "==============================================================="
echo ""

if command -v starship > /dev/null 2>&1; then
  echo "StarShip already installed.. Skipping" 
else
  sudo mkdir -p /usr/local/bin
  curl -sS https://starship.rs/install.sh | sh -s -- -y
fi
