# ZSH_THEME="agnoster"
plugins=(
  git
  dotenv
  macos
  aws
  github
  poetry
  sublime
  vscode
  dotenv
  zsh-autosuggestions
  zsh-syntax-highlighting
  terraform
)

if [ -d "$HOME/.oh-my-zsh" ]; then
  export ZSH="$HOME/.oh-my-zsh"
  source $ZSH/oh-my-zsh.sh
else
  echo "oh-my-zsh is not installed"
fi

#mise
if command -v mise > /dev/null 2>&1; then
  export PATH="$HOME/.local/share/mise/shims:$PATH"
else
  echo "mise is not installed"
fi

#starship
if command -v starship > /dev/null 2>&1; then
  eval "$(starship init zsh)"
else
  echo "starship is not installed"
fi

{{- if eq .chezmoi.os "darwin" }}
# make Homebrew’s completions available in zsh
if type brew &>/dev/null
then
  FPATH="$(brew --prefix)/share/zsh/site-functions:${FPATH}"

  autoload -Uz compinit
  compinit
fi
{{- end }}
{{- if eq .chezmoi.os "linux" }}

if [ -d "/opt/nvim-linux64/bin" ];
then
 export PATH="$PATH:/opt/nvim-linux64/bin"
else
  echo "nvim-linux64 is not installed"
fi

{{- end }}

ZSH_DOTENV_PROMPT=always